<!DOCTYPE html>
<html>
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z9CFJ0NEDF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z9CFJ0NEDF');
</script>
        <link rel="icon" href="./img/ticon.png" type="image/x-icon">
        <meta name="keywords" content="fortnite tracker fortnite stats fn tracker trn kd fortnite fortnite shop kd fortnite tracker fortnite store fortnite kd  fortnite tracker fortnite stats fn tracker trn kd fortnite fortnite shop kd fortnite tracker fortnite store fortnite kd fortnite tracker fortnite stats fn tracker trn kd fortnite fortnite shop kd fortnite tracker fortnite store fortnite kd">
    </head>
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url('../img/s1.png');
  height: 80%;
  width: 80%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
</style>
<body>

<div class="bgimg">
  <div class="topleft">
    <p>fortnitetracker.live</p>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <a herf='/home'>we are working on it </a>
  </div>
  <div class="bottomleft">
    <a herf='/home'>Home</a>
  </div>
</div>

</body>
</html>
